img:hover {
  cursor: pointer;
  position: relative;
  opacity: 0.6;
}

.test {
  width: 30%;
  margin: 10px 10px;
  display: block;
  min-height: 350px;
}

.centertest {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}

@media (max-width: 800px) {
  .test {
    width: 45%;
    display: block;
    padding: 8px 8px 8px 8px;
    min-height: 200px;
  }
}
/* @media (max-width: 200px) {
  .test {
    width: 90%;
    padding: 20px 20px 20px 20px;
    min-height: 230px;
  } */
/* } */
